 <div class="bloglink-entry">
 <!--   <div class="bloglink-image">
      <img style="height: 5em;"
      src="icons/{{ post_category|lower }}.jpg"></img>
    </div> -->
    <div class="bloglink-header">
    <p class="bloglink-category">{{ post_category }}</p>
    <a href="{{ post_filename }}.html" class="bloglink">{{ postentry_title }}</a>
    <!--<p class="bloglink-subtitle">
      {{ post_subtitle }}
    </p>-->
    <p class="bloglink-teaser">
    {{ post_teaser }}
    </p>
    </div>
    </div>

